body {
    background-color: #fdeee2;
    padding-top: 140px;
}

.container {
    width: 1024px;
}

.navbar-fixed-top {
    background-color: #3f242f !important;
}

.navbar-default {
    background-color: #7F3137;
    border: none;
}


.custom {
    position: fixed;
    top: 50px;
    width:100%;
}

.navbar-fixed-lower {
    position: static;
}

.mine {
    margin-left: 30px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.margin-new{
    margin-top:100px;
}
.col-md-3 {
    position: static;

}

.col-md-12 {
    position: static;
}

.btn-primary {
    color: #fdeee2;
    background-color: #7F3137;
    border-color: #714354;
}

.btn-primary:active, .btn-primary:hover{
    color: #714354;
    background-color: #fdeee2;
    border-color: #7F3137;
}

.jumbotron {
    background-color: #fdeee2;
}

.jumbotron h1 {
    font-size: 33px;
}


.bigger {
    font-size: 30px;
    color: #7F3137;
}
