<html>
    <head>
    </head>
    <body>
{% if user.is_anonymous %}
	<h2>Aby mieć dostęp do danych, musisz się zalogować!</h2>
	<a href="{% url 'django.contrib.auth.views.login' %}">Zaloguj</a>
{% endif %}
{% if user.is_authenticated %}
        {% for d in data %}
            <p>Czujnik: {{d.idSensor}}</p>
            <p>Temperatura: {{ d.temperature }}</p>
            <p>Wilgotność: {{ d.humidity }}</p>
            <p>Data: {{ d.timestamp }}</p>
        {% endfor %}

    <a href="{% url 'diagram' %}">Diagram</a>
    <a href="{% url 'scope' %}">Wskaźnik</a>
    <a href="{% url 'logout' %}">Wyloguj</a> {{ user }}
{% endif %}
</html>