<!DOCTYPE html>
<html>
	<head>
		<title>Wskaźnik</title>
	</head>
 	<body>
 	{% if user.is_authenticated %}
 	<p>Lista urządzeń:</p> 
 	<form action="{% url 'scope' %}" method="post">
    {% csrf_token %}
 	<label for="d{{ forloop.counter }}">{{ s.choice_text }}</label>
 		<select name="s" >
 			<option value="" selected="selected">Sensor</option>
 				{% for s in sensor %}
	 				<option value="{{ s}}">{{ s }}</option>
				{% endfor %}
		</select>
		<p><input type="submit" value="Szukaj"></p>
    	</form> 
    	<p>{{ temp_min }}</p>
 		<p>Określ zakresy temperatury i wilgotności po przekroczeniu których wysłać maila z powiadomieniem:</p>
 		<form action="/scope/" method="POST">{% csrf_token %}
			<ul>
				{{form.as_p}}
			</ul>
			<input type="submit" name="submit" value="Dodaj">
		</form>
	{% else %}
		<p>Nie jesteś uprawniony do oglądania tych treści!</p>
		<p>Kliknij <a href="/login/">tu</a> aby się zalogować.</p>
	{% endif %}
	</body>
</html>