<div style="text-transform:capitalize;">Witaj {{ user }},</div><br />
Przekroczony zakres: <br />
<table class="table-bordered">
    {% for w in what %}
    <tr>
            <td>{{ w }}</td>
    </tr>
    {% endfor %}
    {% for d in difference %}
    <tr>
            <td>{{ d }}</td>
    </tr>
    {% endfor %}
</table>
Urządzenie mierzące: <strong> {{ name_sensor }} </strong><br />
Data pomiaru: <strong>{{ timestamp }}</strong><br/>
Nazwa pomieszczenia: <strong>{{ room_name }}</strong><br/>
Temperatura wynosi: <strong>{{ temperature }}<sup>o</sup>C</strong><br/>
Wilgotność wynosi: <strong>{{ humidity }}%RH</strong>
