{% extends 'base.html' %}
{% block content %}
        {% for d in data %}
            <p>Czujnik: {{d.idSensor}}</p>
            <p>Temperatura: {{ d.temperature }}</p>
            <p>Wilgotność: {{ d.humidity }}</p>
            <p>Data: {{ d.timestamp }}</p>
        {% endfor %}
{% if user.is_authenticated %}
    <a href="{% url 'diagram' %}">Diagram</a>
    <a href="{% url 'scope' %}">Wskaźnik</a>
    <a href="{% url 'logout' %}">Wyloguj</a> {{ user }}
{% else %}

	<h2>Aby mieć dostęp do danych, musisz się zalogować!</h2>
	<a href="{% url 'django.contrib.auth.views.login' %}">Zaloguj</a>

{% endif %}
{% endblock %}