{% extends 'base.html' %}
{% block content %}
    <div class="col-md-6 col-md-offset-3 text-center">
 	{% if user.is_authenticated %}
 	<h1 style="text-align: center">Lista urządzeń:</h1>



            <form action="{% url 'scope' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-group form-inline">
                    <label for="d{{ forloop.counter }}">{{ s.choice_text }}</label>
                    <div class="row">
                    <select class="form-control col-md-9" name="s" >
                        <option value="" selected="selected">Sensor</option>
                            {% for s in sensor %}
                                <option value="{{ s}}">{{ s }}</option>
                            {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-primary col-md-3" name="bt1" value="Szukaj">
                    </div>
                </div>
            </form>
        </div>
			{% if state %}
				<p> Czujnik: {{ sensorName }}</p>
				<table>
					<tr>
						<td>Temperatura maksymalna: </td>
						<td>{{ data.tempMax}} &#x2103</td>
					</tr>
					<tr>
						<td>Temperatura minimalna: </td>
						<td>{{ data.tempMin }} &#x2103</td>
					</tr>
					<tr>
						<td>Wilgotność maksymalna: </td>
						<td>{{ data.humMax }} %RH</td>
					</tr>
					<tr>
						<td>Wilgotność minimalna: </td>
						<td>{{ data.humMin }} %RH</td>
					</tr>
				</table>
				<a href="{% url 'deleteScope' sensorName %}">Usuń</a>
			{% endif %}

		{% else %}
			<p>Nie jesteś uprawniony do oglądania tych treści!</p>
			<p>Kliknij <a href="/login/">tu</a> aby się zalogować.</p>

	{% endif %}
    </div>
 {% endblock %}
